
    <body>
        <div id="hide">past</div>
        <h1>Back To the Past</h1>
        <div id="para">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium quasi explicabo fuga dolore veritatis pariatur reprehenderit laboriosam, deleniti quisquam nostrum a accusantium? Enim odit ad, consectetur excepturi debitis voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, autem nobis cupiditate voluptatem adipisci temporibus doloremque quo perferendis corrupti saepe. Veniam assumenda placeat deserunt id dicta earum exercitationem ad est.</p>
    </div>
    <button id="btn" (click)="OnNavigate()">Lets Started</button>
    <div id="hide" class="below">past</div>
    </body>
