<div class = "upload-page">
<h1 class="center">Upload Your Image</h1>

<div class="videos">
    <div class = "video-widget">
        <video controls width="400" height="250">

    <!-- <source src="/media/cc0-videos/flower.webm"
            type="video/webm"> -->

    <source src="../../assets/videos/vid1.mp4"
            type="video/mp4">

    Sorry, your browser doesn't support embedded videos.
</video>

    </div>
    <div class = "video-widget">
        <video controls width="400" height="250">

            <!-- <source src="/media/cc0-videos/flower.webm"
                    type="video/webm"> -->
        
            <source src="../../assets/videos/vid1.mp4"
                    type="video/mp4">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
    <div class = "video-widget">
        <video controls width="400" height="250">

            <!-- <source src="/media/cc0-videos/flower.webm"
                    type="video/webm"> -->
        
            <source src="../../assets/videos/vid1.mp4"
                    type="video/mp4">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</div>


<form [formGroup]="imageForm" (ngSubmit)="onSave()" id="img1">
    <div class="center">
        <p>Please select video type:</p>
    
        <label for="vid1"> video 1</label>
        <input type="radio" id="vid1" formControlName='video'  value="video 1">
        
        <label for="vid2"> video 2</label>
        <input type="radio" id="vid2" formControlName='video'  value="video 2">
       
        <label for="vid3">video 3</label>    
        <input type="radio" id="vid3" formControlName='video' value="video 3">
    
    </div>    
    <div class="formGroup center custom-file-input" id="image-1">
        <input type="file" id="myfile"  formControlName='image' name="filename">
    </div>
    <br>
    
    <button class="button" type="submit" [disabled] = "imageForm.invalid" >Submit</button>
</form>
</div>